header{
    #logo {
        background-color: $background-color_2;
        height: max-content;
        padding: 0px 130px;
        margin-bottom: -13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
        height: 115px;
        width: 100%;
        @include mediaquery-mobile(){
            height: 12%;
            justify-content: left;
            padding: 0px 20px;
        }
        a {
            text-decoration: none;
        }
        .imagen-logo {
            width: 120px;
            height: 166px;
            @include mediaquery-mobile(){
                width: 76px;
                height: 106px;
            }
        }
        .buscador {
            box-shadow: 0px 4px 6px rgb(0, 0, 0);
            background: #f7f6f6;
            color: $color_1;
            border-radius: 57px 57px 57px;
            width: 486px;
            height: 50px;
            font-family: $font-family_1;
            font-size: 20px;
            border: #000000;
            padding: 0 15px;
            margin-right: 190px;
            @include mediaquery-mobile(){
                border-radius: 57px 57px 57px;
                width: auto;
                height: 36px;
                font-family: "Carme";
                font-size: small;
                padding: 0 15px;
                margin-right: 0;
                margin-left: 20%;
            }
            @include mediaquery-desktop(){
				width: 300px;
			}
        }
    }
    #linksPrincipales {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        font-family: $font-family_2;
        text-decoration: none;
        @include mediaquery-mobile(){
            justify-content: center;
        }
        @include mediaquery-desktop(){
            justify-content: center;
        }
        .hombre {
            width: 140px;
            height: 28px;
            padding: 0px 10px 0px 10px;
            background: #cbab7f;
            border-color: $border-color_1;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px 3px 3px;
            text-align: center;
            margin-left: 500px;
            font-size: large;
            color: $color_2 !important;
            @include mediaquery-mobile(){
                width: 62px;
                height: 24px;
                padding: 0px;
                margin-left: 20%;
                font-size: 13px;
            }
            @include mediaquery-desktop(){
                margin-left: 0;
			}
        }
        .mujer {
            width: 156px;
            height: 28px;
            padding: 0px 10px 0px 10px;
            background: #cbab7f;
            color: $color_1;
            border-color: $border-color_1;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px 3px 3px 3px;
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
            font-size: large;
            @include mediaquery-mobile(){
                width: 62px;
                height: 24px;
                padding: 0px;
                font-size: 13px;
                margin-left: 2%;
                margin-right: 2%;
            }
        }
        .ubicacion {
            width: 156px;
            height: 28px;
            padding: 0px 10px 0px 10px;
            background: #cbab7f;
            color: $color_1;
            border-color: $border-color_1;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px 3px 3px;
            text-align: center;
            font-size: large;
            @include mediaquery-mobile(){
                width: 62px;
                height: 24px;
                padding: 0px;
                font-size: 13px;
            }
        }
    }
}