/* Error: Undefined mixin.
 *   ,
 * 3 | /     @include mediaquery-mobile(){
 * 4 | |         height: auto;
 * 5 | \     }
 *   '
 *   scss\pages\comprar.scss 3:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 3 \2502  \250c      @include mediaquery-mobile(){\a 4 \2502  \2502          height: auto;\a 5 \2502  \2514      }\a   \2575 \a   scss\\pages\\comprar.scss 3:2  root stylesheet";
}
