$background-color_1: #5d432c;
$background-color_2: #967c61;
$background-color_3: #ffdfc1;
$background-color_4: #fefce0;
$background-color_5: #a55e3a;
$background-color_6: #cda18b;
$background-color_7: #cbab7f;
$background-color_8: white;
$background-color_9: #ffb253;
$background-color_10: lightgray;